/**

CSS Grid Styling
Leonardo Matone

**/


.cellContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.cellContainer > div{
  background-color: #251d1d;
  height: 100px;
  width: 100px;
}

.cellContainer > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

/*flex shit I guess */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}