/**

CSS Grid Styling
Leonardo Matone

**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/*   aestetics:   */ 

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/*    grid:     */

.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}

.grid-container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.grid-row {
  position: relative;
  width: 100%;
}

/*

.grid-container > div {
  background-color: rgba(255,255,255);
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

*/